# Dossiers de compilation et de cache Quartus / ModelSim
work/
output_files/
db/
incremental_db/
syn/quartus/db/
syn/quartus/incremental_db/
syn/quartus/output_files/
sim/work/

sim/
# Fichiers de logs et temporaires ModelSim
transcript
sim/wlft*
*.wlf
*.vcd
*.log

# Fichiers binaires et documents
*.sof
*.pdf
!rapport_projet.pdf